body {
  font: 12px Helvetica, Arial, sans-serif;
  padding-top: 80px;
}
.navbar-right .navbar-form input {
  margin-right: 10px;
}
footer {
  padding-left: 100px;
  padding-right: 100px;
}
footer p {
  border-top: 1px solid #000;
  padding-top: 10px;
}
.toast-top-right {
  margin-top: -9px;
  margin-right: 50px;
}
