doctype
html
    head
        title student system
        link(rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="node_modules/toastr/build/toastr.css")
        link(rel="stylesheet" href="css/site.css")
        body
            header
            nav header
            h1 hi from layout

            block main-content
            footer
            nav footer
            include scripts