doctype
html
    head
        title student system
        link(rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/node_modules/toastr/build/toastr.css")
        link(rel="stylesheet" href="/client/css/site.css")
        body(ng-app='app')
            header
                nav
                    ul(class='nav nav-tabs')
                       li
                        a Home
                       li
                        a Profile


            block main-content

            footer
            nav
                ul(class='nav nav-tabs')
                    li
                        a &copy Footer

            include scripts