doctype
html
    head
        title student system
        link(rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/node_modules/toastr/build/toastr.css")
        link(rel="stylesheet" href="/client/css/site.css")
        body(ng-app='app')
            block main-content

            include scripts
            include currentUser