script(type="text/javascript" src="/node_modules/jquery/dist/jquery.js")
script(type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript" src="/node_modules/toastr/toastr.js")
script(type="text/javascript" src="/node_modules/angular/angular.js")
script(type="text/javascript" src="/node_modules/angular-resource/angular-resource.js")
script(type="text/javascript" src="/node_modules/angular-route/angular-route.js")
script(type="text/javascript" src="/client/app/app.js")
script(type="text/javascript" src="/client/app/main/mainCtrl.js")
script(type="text/javascript" src="/client/app/account/loginCtrl.js")
script(type="text/javascript" src="/client/app/common/notifier.js")
script(type="text/javascript" src="/client/app/account/identityService.js")
script(type="text/javascript" src="/client/app/account/authService.js")